.search-toolbar-ext-root{
    position: fixed;
    bottom: 3px;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    border-radius: 24px;
    padding: 10px 10px 7px 10px;
    background: rgba(65, 64, 64, 0.7);
    transition: transform 0.3s ease;
    isolation: isolate;
    z-index: 2147483647;
}
.search-toolbar-ext-root.collapsed {
    transform: translate(-50%, 80%);
}

.search-toolbar-collapse-button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 18px;
    border: 1px solid black;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-toolbar-collapse-button.collapsed {
    border-radius:8px 8px 0px 0px;
}

.search-toolbar-engines{
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 550px;
    padding: 15px 10px;
}
.search-toolbar-engine{
    display: flex;
    flex-direction: column; 
    align-items: center;   
    
    /* height: 40px; */
    width: 80px;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}
.engine-icon {
    height: 15px;
    width: 15px;      
}


